@inherits LayoutComponentBase

<PageTitle>Yugioh Card Database</PageTitle>

<div class="page">


    <main>
        <nav>
            <a href="https://ygoprodeck.com/api-guide/" target="_blank">API Source</a>        
        </nav>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
